.pagination {
    margin: 2rem 0;
    display: flex;
}

.pagination li {
    margin: 0 1rem;
    list-style: none;
}

.pagination li > div {
    height: 3rem;
    width: 3rem;
    background-color: rgb(212, 50, 50);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination li > div > h1 {
    font-family: 'Inter';
}